node_modules/
mind-map/web/dist/
mind-map/simple-mind-map/dist/
electron-app/release*/
electron-app/app/
electron-app/dist-old*/
win-unpacked/
linux-unpacked/
mac/
mac-arm64/
dist_electron/
*.log
*.exe
.workbuddy/
.trae-html-share-packages/
